doctype html
html
  head
    title= title
    
    link(rel='stylesheet',href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
    script(src="https://code.jquery.com/jquery-2.2.3.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")
    //mensajes
    link(rel='stylesheet', type='text/css', href='../vendor/bootstrap-sweetalert/dist/sweetalert.css')
    script(src='../vendor/bootstrap-sweetalert/dist/sweetalert.min.js')
    //tablas
    link(rel='stylesheet', type='text/css', href='../vendor/dynatable/jquery.dynatable.css')
    script(type='text/javascript', src='../vendor/dynatable/jquery.dynatable.js')
    //graficas
    script(src='../vendor/highcharts/highcharts.js')
    if isAuthenticated
      script(src='../vendor/highcharts/modules/exporting.js')
    script(src='../vendor/highcharts/js/themes/dark-unica.js')
    script(src='../vendor/highcharts/js/modules/data.js')
    //icon
    script(src='https://use.fontawesome.com/07b0ce5d10.js')
    
             
    

  body
    include nav 
    block content
    include footer
      