link(rel='stylesheet', href='/stylesheets/footer.css')
    
footer
  .content-max-width
    .menu.menu-footer-1.col-xs-6.col-sm-2
      h3 Mapa del Sitio
      ul.col-2
        li
          a(href="/")="Inicio"
        if isAuthenticated
          li
              a(href="/users/panel") Perfil
          li
              a(href="/auth/logout") Cerrar Sesion
        if !isAuthenticated
          li
              a(href="/auth/signup") Registrarse
          li
              a(href="/auth/signin") Iniciar Sesión
        li
          a(title='anchortext', href='#') 
        
    .menu.menu-footer-2.col-xs-6.col-sm-4
      h3 Secciones
      ul.col-2
        li
          a(title='anchortext', href='#') Rankings
        li
          a(title='anchortext', href='#') Las 1000 Empresas más Importartes
        li
          a(title='anchortext', href='#') América Latina
        li
          a(title='anchortext', href='#') Suscripción
    .menu.menu-footer-3.col-xs-5.col-sm-2
      h3 Noticias
      ul
        li
          a(title='anchortext', href='#') Responsabilidad Social
        li
          a(title='anchortext', href='#') Influencers
        li
          a(title='anchortext', href='#') otros
       
    .menu.menu-footer-3.col-xs-5.col-sm-2
      h3 Social
      ul
        li
          a(title='anchortext', href='#') facebook
        li
          a(title='anchortext', href='#') Twitter
        li
          a(title='anchortext', href='#') Google+
        li
          a(title='anchortext', href='#') Instagram
  .menu.menu-footer-1.col-xs-4.col-sm-2
      h3 Contacto
      ul
        li
           a.i(class="glyphicon glyphicon-map-marker")="1600 amphitheatre perkway"
        li
          a "Mountain Vie, CA 94043"
        li
          a.i(class="glyphicon glyphicon-earphone")="Phone: +1 650-253-0000"
        li
          a(title='anchortext', href='#') Más
  .col-md-12.logo-footer
    a(href='#', title='home')
      img(alt='logo-MundoEjecutivo', title='logo-MundoEjecutivo', src="../images/me1.png")
