link(rel='stylesheet', href='/stylesheets/menu.css')
section#home
  .over-lay
    .slide-nav-btn 
      #p menú
      br
      span     
    
    .slide-nav
      ul
        li
        li 
        li(style='text-align: left;')
          a(href='/') Rankings
        li(style='text-align: left;')
          a(href='') Las 1000 Empresas más importantes
        li(style='text-align: left;')
          a(href='') Suscripción
        li(style='text-align: left;')
          a(href='') América Latina
        