link(rel='stylesheet', href='/stylesheets/nav.css')
link(rel='stylesheet', href='/stylesheets/modal.css')

nav#top-nav.navbar.navbar-inverse.top-navbar
  .container-fluid
    .navbar-header
      a.navbar-brand(rel='Inicio', href='/', title='Mundo Ejecutivo')
        img.img-responsive(src="../images/me1.png", width='150', height='20')    
    
    ul.social-icon.pull-right.list-inline
      if !isAuthenticated
        li
          button#myBtn.btn.btn-link.btn-primary(type='button') Registrarse
          include ../users/signup
        li
          button#myBtn1.btn.btn-link.btn-primary(type='button') Iniciar Sesión
          include ../users/signin.jade
      if isAuthenticated
        p(style='font-size:28px;color:#fff')='Bienvenido..' +user.nombre  
     ul.social-icon.pull-right.list-inline
      form.navbar-form.navbar
        .input-group
          input.form-control(type='text', placeholder='Search')
          .input-group-btn
            button.btn.btn-default(type='submit')
              i.glyphicon.glyphicon-search
    ul.social-icon.pull-right.list-inline
      li.dropdown
        a.messages-link.dropdown-toggle(data-toggle='dropdown', href='#')
          span.glyphicon.glyphicon-envelope
          span.number 4
          span.caret
        ul.dropdown-menu
          li1
            a(href='#') Page 1-1
          li
            a(href='#') Page 1-2
          li
            a(href='#') Page 1-3
      li.dropdown
        a.alerts-link.dropdown-toggle(data-toggle='dropdown', href='#')
          span.glyphicon.glyphicon-bell
          span.number 6
          span.caret
        ul.dropdown-menu
          li
            a(href='#') Page 1-1
          li
            a(href='#') Page 1-2
          li
            a(href='#') Page 1-3
      li.dropdown
        a.tasks-link.dropdown-toggle(data-toggle='dropdown', href='#')
          span.glyphicon.glyphicon-th-list
          span.number 11
          span.caret
        ul.dropdown-menu
          li
            a(href='#') Page 1-1
          li
            a(href='#') Page 1-2
          li
            a(href='#') Page 1-3
      li.dropdown
        a.user-link.dropdown-toggle(data-toggle='dropdown', href='#')
          span.glyphicon.glyphicon-user
          span.caret
        ul.dropdown-menu
          li
            a(href='#') Page 1-1
          li
            a(href='#') Page 1-2
          li
            a(href='#') Page 1-3
    ul.social-icon.pull-right.list-inline
      a.i.fa.fa-home(class="navbar-brand" href="/",style='font-size:28px;color:#fff')= ' Inicio'
section#home
  .over-lay
    .slide-nav-btn 
      #p menú
      br
      span
    if !isAuthenticated
      .slide-nav 
        ul
          li
            a.i.fa.fa-home(href='/')    Home
          li
            a(href='/') Registrarme
          li
            a(href='') Services
          li
            a(href='') Works
          li
            a(href='') Our Team
         
    if isAuthenticated
      .slide-nav 
          ul
            li
              //img.img-circle(src=user.img)
              img.img-circle(src="../images/per.jpg")
              p.welcome
                a.i.fa.fa-key  Sesión de ...
              p
                a(style='')= user.nombre +"  "
            li(style="list-style:none;")
              a.i.fa.fa-home(href='/')    Home
            li
            li(style="list-style:none;")
              a.i.fa.fa-user(href="/users/panel" )     Perfil
            li
            li(style="list-style:none;")
              a.i.fa.fa-user-times(href="/auth/logout")   Salir
            
              


script(src='../javascripts/nav.js')


