link(href='https://fonts.googleapis.com/css?family=Varela+Round', rel='stylesheet')
link(rel='stylesheet', href='/stylesheets/rainbow.css')
.panels
    .panel.panel1
        p Interno
        p Negocios
        p Externo
    .panel.panel2
        p Marketing
        p Management
        p Digital
    .panel.panel3
        p Energía
        p Sectores
        p Financiero
    .panel.panel4
        p Tecnología
        p Pymes
        p Turismo
    .panel.panel5
        p Liderazgo
        p RSE
        p Empleo      
    script(src="./javascripts/rainbow.js")