
link(rel='stylesheet', href='/stylesheets/tails.css')
section#tails
	#h1 Mosaicos
	hr
	div(align='center')
		br
		a.tile(href='../users/showTable') Rankings		
		a.tile(href='../users/showGrafic1') las 1000
		a.tile(href='../users/showGrafic') Empresas
		a.tile América

			


					