section#video
      .container
            .row
                  .col-md-8.col-md-offset-2
                        #h1  Cumbre 1000 Empresas 
                        hr
      .embed-responsive.embed-responsive-16by9
            iframe.embed-responsive-item(src='https://player.vimeo.com/video/236245740?autoplay=1&loop=1&color=ffffff', width='640', height='360', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')   