/*
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    height: 5000px;
    background-image: url(http://mundoejecutivo.com.mx/sites/default/files/styles/large/public/candiani_1000.jpg?itok=iQWYko7g);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 100vh;
  }
  #home {
    background-image: url(https://cdn.pixabay.com/photo/2015/09/28/16/19/business-962310_960_720.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 100vh;
    
  }*/
  #home .over-lay {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.67);
  }
  #home .over-lay .slide-nav-btn {
    width: 40px;
    height: 40px;
    position: fixed;
    left: 2%;
    top: 20%;
    cursor: pointer;
    z-index: 9999;
    
  }
  #home .over-lay .slide-nav-btn span {
    position: absolute;
    width: 80%;
    left: 0;
    background: #FAF9F9;
    height: 3px;
    transition: 0.3s;
    cursor: pointer;
    
  }
  #home .over-lay .slide-nav-btn span:before {
    content: "";
    left: 0;
    top: 10px;
    position: absolute;
    width: 60%;
    background: #FDFDFD;
    height: 3px;
    transition: 0.3s;
    cursor: pointer;
  }
  #home .over-lay .slide-nav-btn span:after {
    content: "";
    left: 0;
    top: -10px;
    position: absolute;
    width: 130%;
    background: #F8F6F6;
    height: 3px;
    transition: 0.3s;
    cursor: pointer;
  }
  #home .over-lay .slide-nav-btn-active span {
    background: transparent;
  }
  #home .over-lay .slide-nav-btn-active span:after {
    top: 0;
    width: 130%;
    transform: rotate(315deg);
  }
  #home .over-lay .slide-nav-btn-active span:before {
    top: 0;
    width: 130%;
    transform: rotate(-315deg);
  }
  
  #home .over-lay .slide-nav {
    position: fixed;
    width: 100%;
    background: rgba(0, 0, 0, 0.9);
    height: 100vh;
    z-index: 888;
    transition: 0.6s;
    top: -100%;
    text-align: center;
  }
  #home .over-lay .slide-nav-active {
    top: 0;
  }
  #home .over-lay .slide-nav ul {
    position: relative;
  }
  #home .over-lay .slide-nav ul li a {
    color: #fff;
    font-size: 35px;
    text-decoration: none;
    transition: 0.3s;
  }
  #home .over-lay .slide-nav ul li a:hover {
    color: #18bd9b;
  }
#p
{
  color: #fff;
    font-size:18px;
}



