.container-2
  #page-wrapper
    .row
      .col-md-12
        .page-title
          h2
            | cual es
            small Content Overview
          ol.breadcrumb
            li.active
              i.fa.fa-dashboard
              |  Dashboard
            li.pull-right
              #reportrange.btn.btn-green.btn-square.date-picker
                i.fa.fa-calendar
                span.date-range February 15, 2017 - March 16, 2017
                i.fa.fa-caret-down
    .row
      .col-lg-2.col-sm-6
        .circle-tile
          a(href='#')
            .circle-tile-heading.dark-blue
              i.fa.fa-users.fa-fw.fa-3x
          .circle-tile-content.dark-blue
            .circle-tile-description.text-faded
              | Users
            .circle-tile-number.text-faded
              | pruebba
              span#sparklineA
            a.circle-tile-footer(href='#')
              | More Info 
              i.fa.fa-chevron-circle-right
      .col-lg-2.col-sm-6
        .circle-tile
          a(href='#')
            .circle-tile-heading.green
              i.fa.fa-money.fa-fw.fa-3x
          .circle-tile-content.green
            .circle-tile-description.text-faded
              | Revenue
            .circle-tile-number.text-faded
              | $32,384
            a.circle-tile-footer(href='#')
              | More Info 
              i.fa.fa-chevron-circle-right
      .col-lg-2.col-sm-6
        .circle-tile
          a(href='#')
            .circle-tile-heading.orange
              i.fa.fa-bell.fa-fw.fa-3x
          .circle-tile-content.orange
            .circle-tile-description.text-faded
              | Alerts
            .circle-tile-number.text-faded
              | 9 New
            a.circle-tile-footer(href='#')
              | More Info 
              i.fa.fa-chevron-circle-right
      .col-lg-2.col-sm-6
        .circle-tile
          a(href='#')
            .circle-tile-heading.blue
              i.fa.fa-tasks.fa-fw.fa-3x
          .circle-tile-content.blue
            .circle-tile-description.text-faded
              | Tasks
            .circle-tile-number.text-faded
              | 10
              span#sparklineB
            a.circle-tile-footer(href='#')
              | More Info 
              i.fa.fa-chevron-circle-right
      .col-lg-2.col-sm-6
        .circle-tile
          a(href='#')
            .circle-tile-heading.red
              i.fa.fa-shopping-cart.fa-fw.fa-3x
          .circle-tile-content.red
            .circle-tile-description.text-faded
              | Orders
            .circle-tile-number.text-faded
              | 24
              span#sparklineC
            a.circle-tile-footer(href='#')
              | More Info 
              i.fa.fa-chevron-circle-right
      .col-lg-2.col-sm-6
        .circle-tile
          a(href='#')
            .circle-tile-heading.purple
              i.fa.fa-comments.fa-fw.fa-3x
          .circle-tile-content.purple
            .circle-tile-description.text-faded
              | Mentions
            .circle-tile-number.text-faded
              | 96
              span#sparklineD
            a.circle-tile-footer(href='#')
              | More Info 
              i.fa.fa-chevron-circle-right
    .row
      .col-lg-3
        .tile.tile-img.tile-time.morning(style='height: 200px')
          p.time-widget
            span.time-widget-heading It Is Currently
            br
            strong
              span#datetime
                | Friday
                br
                | March 17th, 2017
                br
                | 12:43:17 PM
      .col-lg-9
      // page-wrapper END
    // container-1 END