link(rel='stylesheet', href='/stylesheets/panel.css')
section#about
  .container
    .row
      .col-md-8.col-md-offset-2
        li(style='text-align: center;')
            //img.img-circle(src=user.img)
            img.img-circle(src="../images/per.jpg")
        h2.title.text-center
          i.fa.fa-key
        h2.title.text-center Sesión de ...
        h2.title.text-center(style='')="" + user.nombre 
        p
        hr.light
        
.container-2
  #page-wrapper
    .row
      .col-md-12
        .page-title
          h1
            | Las 1000 Empresas más Importantes de México
            small
          hr 
         
    .row
      .col-lg-2.col-sm-6
        .circle-tile
          a(href='/users/showTable')
            .circle-tile-heading.dark-blue
              i.fa.fa-bars.fa-fw.fa-3x
          .circle-tile-content.dark-blue
            .circle-tile-description.text-faded
              | Ranking
            .circle-tile-number.text-faded
              | 2016
              span#sparklineA
            a.circle-tile-footer(href='#')
              | las 1000 Empresas de méxico 
              i.fa.fa-chevron-circle-right
      .col-lg-2.col-sm-6
        .circle-tile
          a(href='/users/showGrafic1')
            .circle-tile-heading.green
              i.fa.fa-bar-chart-o.fa-fw.fa-3x
          .circle-tile-content.green
            .circle-tile-description.text-faded
              | Sector
            .circle-tile-number.text-faded
              | Comercio
            a.circle-tile-footer(href='#')
              | Gráfico 
              i.fa.fa-chevron-circle-right
      .col-lg-2.col-sm-6
        .circle-tile
          a(href='/users/showGrafic')
            .circle-tile-heading.orange
              i.fa.fa-bar-chart-o.fa-fw.fa-3x
          .circle-tile-content.orange
            .circle-tile-description.text-faded
              | Sector
            .circle-tile-number.text-faded
              | Automotriz
            a.circle-tile-footer(href='#')
              | Gráfico 
              i.fa.fa-chevron-circle-right
      .col-lg-2.col-sm-6
        .circle-tile
          a(href='#')
            .circle-tile-heading.blue
              i.fa.fa-tasks.fa-fw.fa-3x
          .circle-tile-content.blue
            .circle-tile-description.text-faded
              | Top
            .circle-tile-number.text-faded
              | 10
              span#sparklineB
            a.circle-tile-footer(href='#')
              | Rentabilidad 
              i.fa.fa-chevron-circle-right
      .col-lg-2.col-sm-6
        .circle-tile
          a(href='#')
            .circle-tile-heading.red
              i.fa.fa-shopping-cart.fa-fw.fa-3x
          .circle-tile-content.red
            .circle-tile-description.text-faded
              | Orders
            .circle-tile-number.text-faded
              | 24
              span#sparklineC
            a.circle-tile-footer(href='#')
              | More Info 
              i.fa.fa-chevron-circle-right
      .col-lg-2.col-sm-6
        .circle-tile
          a(href='#')
            .circle-tile-heading.purple
              i.fa.fa-comments.fa-fw.fa-3x
          .circle-tile-content.purple
            .circle-tile-description.text-faded
              | Mentions
            .circle-tile-number.text-faded
              | 96
              span#sparklineD
            a.circle-tile-footer(href='#')
              | More Info 
              i.fa.fa-chevron-circle-right
